body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    text-align: center;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    font-size: 18px;
    font-weight: bold;
    padding: 1.9rem 0;
    line-height: 22px;
    color: #828282;
    border-bottom: 1px solid #828282; 
}

a {
    text-decoration: none;
    color:inherit;
}

.menu-item:active {
    color: yellow;
}

.menu-item:hover {
    color: black;
}

.menu-item-active {
    color:#070707;
}

.info {
    display: flex;
    justify-content: space-between; 
}

.info span.lang {
   transform: rotate(-90deg);
   align-self: center;
}

.info span:nth-child(2) {
    align-self: flex-end;
}

h1 {
    font-size: 3rem;
    line-height: 3.6rem;
}

.man {
    padding-top: 3.1rem;
    padding-bottom: 6.2rem;
}

.about {
    background-color: #F6F6F6;
    padding-bottom: 6.2rem;
}

.programs, .program-types {
    list-style: none;
    padding-inline-start: 0;
}

.programs {
    display: flex;
    justify-content: space-between;  
}

.types {
    margin-top: 5rem;
}

.program-name {
    padding-top: 1.5rem;
    padding-bottom: 2.5rem;
}

.program-name-last {
    padding-bottom: 1.75rem;
}

h2 {
    padding-top: 6.9rem;
    padding-bottom: 1.25rem;
    font-size: 2.1rem;
}

.portfolio-back {
    background: #F6F6F6;
    width: 100%;
}

.portfolio-img {
    padding: 0 1rem;
}

.link {
    text-decoration-line: underline; 
    font-size: 1.1rem;
    line-height: 1.4rem;
    padding-top: 2.8rem;
    padding-bottom: 5.6rem;
}

.send{
    margin-top: 1.9rem;
    background: black;
    color:white;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.56rem 1.67rem;
    border-radius: 30px;
}

.contacts {
    padding-top: 6.9rem;
    padding-bottom: 1.25rem;
}

.social {
    padding-top: 5rem;
    padding-bottom: 2.8rem;
}

.social:not(:last-child) {
    padding-right: 3.75rem;
}

.end {
    color:#828282;
}

@media screen and (max-width: 960px) {
   body {
       font-size: 14px;
   } 
   .portfolio-img {
    width: 100%;
}   
   
}

@media screen and (max-width: 720px) {
    body {  
        font-size: 14px;
        }
    .portfolio-img {
        width: 100%;
        }
    .programs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }    
 }

@media screen and (max-width: 480px) {
    .body {
        font-size: 12px;
    }

    .menu {
        display: none;
    } 

    .info {
        display: grid;
    }
     
    .lang {
        display: none;
    }

    .programs {
        display: inline; 
        align-items: center;
        text-align: center;
    }

    .portfolio-img {
        width: 100%;
    }
}