body {
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 940px;
    text-align: center;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-between; 
    font-size: 18px;
    padding: 30px 0;
    line-height: 22px;
    color: #828282;
    border-bottom: 1px solid #828282; 
}

a {
    text-decoration: none;
    color:inherit;
}

.menu-item:active {
    color: yellow;
}

.menu-item:hover {
    color: black;
}

.menu-item-active {
    color:#070707;
}

.info {
    display: flex;
    justify-content: space-between; 
}

.info span.lang {
   transform: rotate(-90deg);
}

.info span:nth-child(2) {
    align-self: flex-end;
}

.about {
    background-color: #F6F6F6;
}

.programs, .program-types {
    list-style: none;
}

.programs {
    display: flex;
    justify-content: space-between;
}

h2 {
    padding-top: 110px;
}